
.container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    background: url(backwall.png);
    background-size: 100%;
    
}
section .container h1{
    color: blueviolet;
    
}
.container .card
{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow : 0 15px 35px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
    display: contents;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.container .card .content
{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.container .card:hover .content{
    opacity: 1;
    transform: translateX(-20px);
}
.container .card .content .imgBx
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}
.container .card .content .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content .contentBx h3{
    color: #0d0b0b;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.container .card .content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.container .card .sci{
   
    position: relative;
    left: -20px;
    bottom: 20px;
    display: flexbox;
    
}
.container .card .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i)) ;
}

.container .card:hover .sci li
{
   transform: translateY(0px);
   opacity: 1;
}

 .contact .container3 .card .sci li a{
    color: #fff;
    font-size: 24px;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
    padding: 20px;
    width: 100%;
    background: #07044b;
}

.contact::before{
content: '';
position: absolute;
width: 400px;
height: 400px;
background: linear-gradient(#21f0f3,#a883ff);
border-radius: 50%;
transform: translate(-420px,-180px);
}

.contact::after{
content: '';
position: absolute;
width: 400px;
height: 400px;
background: linear-gradient(#2196f3,#83d8ff);
border-radius: 50%;
transform: translate(420px,180px);
}
.container3{
position: relative;
z-index: 1000;
width: 100%;
max-width: 1000px;
padding: 50px;
background: rgba(255,255,255,0.1);
box-shadow: 0 25px 45px rgba(0,0,0,0.1);
border: 1px solid rgba(255,255,255,0.1);
border-right: 1px solid rgba(255,255,255,0.1);
border-bottom: 1px solid rgba(255,255,255,0.1);
border-radius: 10px;
overflow: hidden;
backdrop-filter: blur(35px);
}

.container3::before{
content: '';
position: absolute;
top: 0;
left: -40%;
width: 100%;
height: 100%;
background: rgba(255,255,255,0.05);
pointer-events: none;
transform: skewX(-15deg);
}

.container3 h2{
width: 100%;
text-align: center;
color: #fff;
font-size: 36px;
margin-bottom: 20px;
}
p{
color: #fff;
}
.position{
color: #fff;
}
.container3 .row100{
position: relative;
width: 100%;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.container3 .row100 .col{
position: relative;
width: 100%;
padding: 0 10px;
margin: 30px 0 20px;

}
.container3 .row100 .col .inputBox{
position: relative;
width: 100%;
height: 40px;
color: #fff;

}
.container3 .row100 .col .inputBox input,
.container3 .row100 .col .inputBox textarea{
position: absolute;
width: 100%;
height: 100%;
background: transparent;
box-shadow: none;
border: none;
outline: none;
font-size: 15px;
padding: 0 10px;
z-index: 1;
color: #000;
}

.container3 .row100 .col .inputBox .text{
position: absolute;
top: 0;
left: 0;
line-height: 40px;
font-size: 18px;
padding: 0 10px;
display: block;
transition: 0.5s;
pointer-events: none;

}
.container3 .row100 .col .inputBox input:focus + .text,
.container3 .row100 .col .inputBox input:valid + .text,
.container3 .row100 .col .inputBox textarea:focus + .text,
.container3 .row100 .col .inputBox textarea:valid + .text
{
top: -35px;
left: -10px;
}
.container3 .row100 .col .inputBox .line
{
position: absolute;
bottom: 0;
display: block;
width: 100%;
height: 2px;
background: #fff;
transition: 0.5s;
border-radius: 2px;
pointer-events: none;
}
.container3 .row100 .col .inputBox input:focus ~ .line,
.container3 .row100 .col .inputBox textarea:valid ~ .line
{
height: 100%;
}
.container3 .row100 .col .inputBox .textarea{
position: relative;
width: 100%;
height: 100px;
padding: 10px 0;

}

.container3 .row100 .col .inputBox textarea:focus ~ .line,
.container3 .row100 .col .inputBox textarea:valid ~ .line{
height: 100%;
}

.container3 .row100 .col input[type="submit"]
{
border: none;
padding: 10px 40px;
cursor: pointer;
background: #fff;
color: #000;
font-weight: 600;
font-size: 18px;
border-radius: 2px;
}

@media (max-width:768px)
{
.contact::before{
    transform: translate(-200px,-180px);
}
.contact::after{
    transform: translate(220px,180px);
}
.container3{
    padding: 20px;
}
.container3 h2{
    font-size: 28px;
}
}