* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: rgb(1, 1, 22);
    color: white;
    font-family: 'poppins',sans-serif;
    flex-wrap: wrap;
    position: relative;

}
nav .logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

nav .logo img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;

}
nav .left{
    color: rgb(8, 120, 249);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(4, 4, 33);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 24px;
}
nav ul li a{
    text-decoration: none;
    color:white;
}

nav ul li a:hover{
    text-decoration: none;
    color:rgb(222, 204, 40);
    font-size: 1.05 rem;
}
main hr{
    border: 0;
    background: #9c97f1;
    height: 1.3px;
    margin: 60px 85px;
}
.left{
    font-size: 1.6rem;
}
.firstsection{
    display:flex;
    justify-content: space-around;
    margin: 130px 0;

}
.firstsection a{
    text-shadow: 2px, 2px, 2px, rgba(0, o, o, 0.3);
    font-size: 24px;
    letter-spacing: 1.5px;
    background: linear-gradient(to right, rgb(59, 54, 54), black);
    box-shadow: rgba(0, 0, 0, 0.35) 0px, 5px, 15px;
    color: #9c97f1;
    border-radius: 5;
    padding: 15px 36px;
    border: 1px solid white;
    margin-top: 100px;
    margin-right: 30px;
    display: inline-block;
}
.firstsection div{
    width: 100;
}
.eftsection{
    font-size: 3rem;
    margin: 0px;
 animation-name: fontAnimation;
    animation-duration: 3s;
    animation-delay: 0;
    animation-timing-function: ease-in;
    animation-iteration-count: 3;
    animation-direction: left;
}
@keyframes fontAnimation {
    from{
        font-size:20px;

    }
    to{
        font-size: 30px;
    }
}

.eftsection .buttons{
    padding: 50px 0;
}
.eftsection .btn{
padding: 12px;
background-color:darkblue;
cursor: pointer;
color: white;
border: 2px solid white;
border-radius: 7px;
font-size: 20px;

}
.rightsection{
    
}
.rightsection img{
    width: 30;
    
    height: 40;
}

.purple{
    color: blueviolet;
}
.grey{
    color: gray;
}
#element{
    color: lavender;
}
.secondsection{
    max-width: 80vw;
    margin: auto;
    height: 120vh;
}
.secondsection h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5rem;
}
.secondsection .box{
    background: whitesmoke;
    width: 76vw;
    height: 3px;
    margin: 24px 0;
    display: flex;
}
.secondsection .vertical{
height: 90px;
width: 1px;
background-color: white;
margin: 0 150px;
}
.image-top{
    width: 23px;

}
.vertical-tittle{
position: relative;
top: 75px;
width: 150px;
}
.vertical-desc{
    position: relative;
    top: 90px;
    color: dimgray;
    width: 150px;
    font-size: 15px;

}
footer{
    background-color: rgb(93, 93, 174);
    width: 1560px;
    
}
.footer{

    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer>div{
    width: 250px;
}
footer.text-center{
    text-align: center;
    color: floralwhite;
    padding: 12px 0;

}